@model SocialMediaUpdateDto

<div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">Media Management /</span> Update Social Media
    </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header"></h5>

                <form asp-controller="SocialMedia" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="card-body">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="MediaName" class="form-label">Media Name</label>
                            <input asp-for="MediaName" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Enter a name:" aria-describedby="defaultFormControlHelp">
                            <span asp-validation-for="MediaName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NormalizedMediaName" class="form-label">Normalized Media Name</label>
                            <input asp-for="NormalizedMediaName" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Enter a name:" aria-describedby="defaultFormControlHelp">
                            <span asp-validation-for="NormalizedMediaName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MediaLink" class="form-label">Media Link</label>
                            <input asp-for="MediaLink" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Enter a name:" aria-describedby="defaultFormControlHelp">
                            <span asp-validation-for="MediaLink" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>