@{
    Layout = null;
}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Coming Soon Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/soon/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/soon/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.png">
  </head>

  <body>
    <section class="page-holder position-relative d-flex justify-content-between flex-column" style="background: url(soon/img/paris.jpg)">
      <div class="overlay"></div>
      <div class="container position-relative z-index-20 pt-3 pb-5">
        <ul class="list-inline text-center text-lg-end">
                <li class="list-inline-item"><a class="social-link social-link-facebook" href="https://www.linkedin.com/in/Kennans26" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li class="list-inline-item"><a class="social-link social-link-twitter" href="https://www.github.com/Cenny26" target="_blank"><i class="fab fa-github"></i></a></li>
                <li class="list-inline-item"><a class="social-link social-link-instagram" href="https://www.instagram.com/Kennans26" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="container text-center text-white position-relative z-index-20 pt-lg-5 my-5">
        <h1 class="text-shadow mb-5">Technology blog coming soon ...</h1>
        <p class="h2 font-family-base fw-light text-shadow">You can expect this technology blog website running soon. </p>
      </div>
      <footer class="py-4 w-100 text-sm text-white z-index-20 position-relative">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 text-center text-sm-start">
              <p>&copy;2024 TechBlog</p>
            </div>
            <div class="col-sm-6 text-center text-sm-end">
              <p class="mb-1">Design by  <a class="text-white" href="https://bootstrapious.com/coming-soon-themes">Bootstrapious</a></p>
            </div>
          </div>
        </div>
      </footer>
    </section>
    <!-- JavaScript files-->
    <script src="~/soon/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/soon/js/theme.js"></script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>

</html>