@model UserUpdateDto

<div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">User Management /</span> Update User
    </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header"></h5>

                <form asp-controller="User" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" style="color:red"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="card-body">
                        <div class="text-center">
                            <p class="text-danger" style="color: red; font-weight: bold">
                                It is not possible to change the profile image while the project is in preparation!
                            </p>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirstName" id="defaultFormControlInput" class="form-label">User name</label>
                            <input asp-for="FirstName" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Enter a user name:" aria-describedby="defaultFormControlHelp">
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" id="defaultFormControlInput" class="form-label">User surname</label>
                            <input asp-for="LastName" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Enter a user surname:" aria-describedby="defaultFormControlHelp">
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" id="defaultFormControlInput" class="form-label">User email address</label>
                            <input asp-for="Email" type="email" class="form-control mb-3" id="defaultFormControlInput" placeholder="Enter a user email address:" aria-describedby="defaultFormControlHelp">
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" id="defaultFormControlInput" class="form-label">User phone number</label>
                            <input asp-for="PhoneNumber" type="tel" class="form-control mb-3" id="defaultFormControlInput" placeholder="Enter a user phone number:" aria-describedby="defaultFormControlHelp">
                        </div>
                        <div class="form-group">
                            <label asp-for="RoleId" id="defaultFormControlInput" class="form-label">User role</label>
                            <select asp-for="RoleId" class="form-control mb-3" asp-items="@(new SelectList(Model.Roles, "Id", "Name"))"></select>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>

</div>